main{
	width: 300px;
	margin: 0 auto;
	margin-top: 250px; 
}
.login_background{
	
}
.id_input,.pw_input{
	border: none;
	border-bottom: 3px solid gray;
	outline: none;
	font-size: 20px;
	padding: 5px;
	width: 300px;
	height: 50px;
}
.pw_input:focus{
	border-bottom: 3px solid #00bfff;
}
.id_input:focus{
	border-bottom: 3px solid #00bfff;	
}
.login_button{
	border: none;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 300px;
	height: 50px;
	background-color: #d5ffc3;
}
.id_lose{
	font-size: 13px;
	text-decoration: none;
	color: black;
	margin-right: 30px;
}
.id_lost{
	position: relative;
	left: 55;
	font-size: 13px;
	text-decoration: none;
	color: black;
	margin-left: 40px;
}