main{
	width: 100%;
	height: 650px;
	padding: 0 auto;
	padding-top: 100px;
	
	text-align: center;
}
form div
{	
	width: 500px;
	display: inline-block;
	margin-left: 200px;
	text-align: left;
}
#login_background{
	
}
input{
}
#id_input,#pw_input,#pwcheck_input,#name_input{
	border: none;
	border-bottom: 2px solid gray;
	outline: none;
	font-size: 20px;
	padding: 5px;
	width: 300px;
	height: 30px;
	margin-bottom: 10px;
	
}
#email_input1,#email_input2{
	border: none;
	border-bottom: 2px solid gray;
	outline: none;
	font-size: 18px;
	padding: 5px;
	width: 143px;
	height: 30px;
	margin-bottom: 10px;
}
#phone_input1,#phone_input2,#phone_input3{
	border: none;
	border-bottom: 2px solid gray;
	outline: none;
	font-size: 18px;
	padding: 5px;
	width: 94px;
	height: 30px;
	margin-bottom: 10px;
}
#person_number1,#person_number2{
	border: none;
	border-bottom: 2px solid gray;
	outline: none;
	font-size: 18px;
	padding: 5px;
	width: 147px;
	height: 30px;
	margin-bottom: 10px;
}
#pw_same{
	font-family: 8px;
}
#register_clear_button{
	font-size: 15px;
	border: none;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 300px;
	height: 50px;
	background-color: #a8fa85;
}
#id_lose{
	font-size: 13px;
	text-decoration: none;
	color: black;
	margin-right: 30px;
}
#id_lost{
	font-size: 13px;
	text-decoration: none;
	color: black;
	margin-left: 40px;
}
/*-----------노가다--------------------*/
#name_input:focus{
	border-bottom: 2px solid #00bfff;
}
#id_input:focus{
	border-bottom: 2px solid #00bfff;
}
#pw_input:focus{
	border-bottom: 2px solid #00bfff;
}
#pwcheck_input:focus{
	border-bottom: 2px solid #00bfff;
}
#email_input1:focus{
	border-bottom: 2px solid #00bfff;
}
#email_input2:focus{
	border-bottom: 2px solid #00bfff;
}
#phone_input1:focus{
	border-bottom: 2px solid #00bfff;
}
#phone_input2:focus{
	border-bottom: 2px solid #00bfff;
}
#phone_input3:focus{
	border-bottom: 2px solid #00bfff;
}
#person_number1:focus{
	border-bottom: 2px solid #00bfff;
}
#person_number2:focus{
	border-bottom: 2px solid #00bfff;
}
